:root {
    --gap: 15px;
    --padding: 15px;
    --boxShadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.086);
    --cardColor: rgb(192, 222, 255);
}

@font-face {
    font-family: roboto-medium;
    src: url(assets/font/Roboto-Medium.ttf);
}

* {
    font-family: roboto-medium, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #f9fafb;
}

input {
    height: 1.5rem;
    border: solid 1px #7c7c7c;
    border-radius: 5px;
}

button {
    border: none;
    height: 2rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: repeat(auto-fill, min-content);
    padding: var(--padding);
    gap: var(--gap);

}

.library>button {
    border-radius: 5px;
    background-color: var(--cardColor);
    box-shadow: var(--boxShadow);
}

/* FORM */
form {
    align-items: end;
    gap: var(--gap);
    grid-template-columns: 20ch 1fr;
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    padding: var(--padding);
    box-shadow: var(--boxShadow);
}

form .submit-button {
    background-color: var(--cardColor);
}

form .cancel-button {
    background-color: rgb(255, 159, 159);
}

/* CARDS */
.card {
    overflow: hidden;
    height: 125px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    color: black;
    background-color: var(--cardColor);
    box-shadow: var(--boxShadow);
}

/* the info area element*/
.card>div {
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--padding);
    display: grid;
}

.card>button {
    height: 100%;
}

.title {
    grid-area: 1/1/1/1;
}

.pages {
    grid-area: 2/1/2/1;
}

/* .read-button {
    grid-area: 1/2/2/2;
} */

.remove-button {
    width: min-content;
    height: 25px;
    grid-area: 1/2/1/2;
    background-color: transparent;
}



.remove-button img {
    height: 100%;
}