:root {
    --gap: 15px;
    --padding: 15px;
    --boxShadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.086);
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #f9fafb;
}

button {
    border: none;
    height: 2rem;
}

.library {
    display: grid;
    padding: var(--padding);
    gap: var(--gap);
}

/* FORM */
form {
    gap: var(--gap);
    grid-template-columns: 20ch 1fr;
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    padding: var(--padding);
    box-shadow: var(--boxShadow);
}

/* CARDS */
.card {
    overflow: hidden;
    height: 125px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    color: black;
    background-color: rgb(192, 222, 255);
    box-shadow: var(--boxShadow);
}

.card>div {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--padding);
    display: grid;
}

.card>button {
    height: 100%;
}

.title {
    grid-area: 1/1/1/1;
}

.pages {
    grid-area: 2/1/2/1;
}

/* .read-button {
    grid-area: 1/2/2/2;
} */

.remove-button {
    height: 25px;
    grid-area: 1/2/1/2;
    background-color: rgb(227, 35, 73);
}

.remove-button img {
    height: 100%;
}